/*------------P------------*/
/*p{
    background-color: brown;
}
*/

/*------------BlocPage------------*/
.blocPage{
    border: 1px solid black;
    display: block;
}

/*------------globalSansFooter------------*/
.globalSansFooter{
    border: 1px solid red;
    margin-bottom: 40px;
}
/*---------------------------------------ENTÊTE------------------------------------------------------------*/
/*------------ENTETE------------*/
.entete{
    border: 1px solid blue;
    
}

/*------------header------------*/
header{
    border: 1px solid yellow;
    display: block;
}

/*------------Logo------------*/
#logo{
    width: 100%;
    margin-left: 100px;
    
}

#logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*------------Lien------------*/
.liens{
    padding: 0;
}

.liens ul{
    padding:  0px;
}


.liens li{
    border-bottom: 3px solid gray;
    width: 50%;
    margin: 0;
    text-align: center;
    
}

.liens li:hover{
    cursor: pointer;
    border-top: 0;
    padding-top: 0;
    border-bottom: 3px solid #0065FC;
    border-color: #0065FC;
    color: #0065FC;
}



/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------PRESENTATION------------------------------------------------------------*/
.presentation{
    border: 1px solid blue;

}

#navBar{
    display: block;
    padding: 15px;

}

#navBar h3 {
    font-size: 20px;
}
#navBar p {
    font-size: 14px;
}


.recherche{
    height: 50px;
    width: 190px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.buttonSearch {
    display: block;
    height: 50px;
    margin-left: -7px;
    color: white;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}

.paddingSearch i{
    margin: auto;

}

#searchNormalSize{
    display: none;
}
#searchLittleSize{
    display: block;
    padding-top: 15px;
    padding-right: 15px;
}






.filters{
    display: flex;
}

.filterList{
    justify-content: space-between;

}

.textFilter{
    width: 100%;
}

.filter{
    margin: 0;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 10px;
    border: 1px solid lightgray;

}

.filter span{
    font-size: 12px;
}



.divInfoIcon {
    font-size: 15px;
}


/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------HEBERGEMENTS------------------------------------------------------------*/

.hebergementPopulaire{
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    height: 2455px;
    margin-bottom: 75px;
}

.populaires{
    height: 660px;
    margin-left: 0;
}

.cardPopulaire{
    height: 170px;
    margin-top: 20px;
    margin-left: -22px;
    width: auto;
    margin-right: -23px;
    font-size: 17px;

}

.hebergements{
    height: 150px;
    margin-right: 0;
}

.cardHebergementList{
    display: block;
    height: 1550px;
    margin-left: -12px;
    margin-right: -12px;

}


.cardHebergement {
    height: 230px;
    width: auto;
    margin-right: auto;
    margin-left: auto;

}

.cardHebergement img{
    margin-right: 0%;
}

.hebergements{
    height: 2500px ;
}
    
.hebergements a{
    margin-left: -10px;
   
}





/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------ACTIVITES------------------------------------------------------------*/

.activitesAMarseille{
    border: 1px solid black;
    display: block;
    height: 1603px;
}

.activites{
    border: 1px solid black;
    display: block;
    height: 1603px;
}

.grandeImage{
    height: 250px;
    width: auto;
    margin-bottom: 20px;
}

.cardActivite{
    height: 230px;
    width: auto;
}

.imgActivite{
    height: 180px;
    width: auto;
}

.imgActivite img{
    height: 180px;
    margin-right: -50px;
}

.cardActiviteInfo h4{
    font-size: 20px;
}


/*-------------------------------*/

.douobleImagePasMemeTaille{
    height: 522px;
    width: auto;
    margin-bottom: 20px;

}

.doubleImagePasMemeTaille1{
    height: 250px;
    width: auto;
    margin-bottom: 20px;
}

.cardActivite2{
    height: 250px;
    width: auto;
}

.imgActivite2{
    height: 180px;
    width: auto;
}

.imgActivite2 img{
    height: 180px;
}

.doubleImagePasMemeTaille2{
    height: 250px;
    width: auto;
}

.cardActivite3{
    height: 250px;
    width: auto;
}

.imgActivite3{
    height: 180px;
    width: auto;
}

.imgActivite3 img{
    height: 180px;
}

/*-------------------------------*/

.doubleImage{
    height: 522px;
    width: auto;
    margin-bottom: 20px;
}

.doubleImage1{
    height: 250px;
    width: auto;
    margin-bottom: 20px;
}

.doublecardActivite{
    height: 250px;
    width: auto;
}

.doubleimgActivite{
    height: 180px;
    width: auto;
}

.doubleimgActivite img{
    height: 180px;
}

.doublecardActivite h4{
    margin-top: 20px;
    font-size: 20px;

}


.doubleImage2{
    height: 250px;
    width: auto;
    margin-bottom: 20px;
}

/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------FOOTER------------------------------------------------------------*/

footer{
    border: 1px solid black;
    background-color: f2f2f2;
}

.divFooter{
    display: block;
    margin-top: 0;
}

.divFooter h4{
    font-size: 20px;
}

.divFooter p{
    font-size: 15px;
    margin-bottom: 10px;
}
.linksA{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
}

.linksA h4{
    margin-top: 0;
    margin-bottom: 20px;
}

.linksB{
    margin-bottom: 40px;
    margin-left: 50px;
    width: 300px;
}

.linksB h4{
    margin-top: 0;
    margin-bottom: 20px;
}

.linksC{
    margin-bottom: 40px;
    margin-left: 50px;
    width: 300px;
}

.linksC h4{
    margin-top: 0;
    margin-bottom: 20px;
}