body{
    width: 414px;
    border: 2px black solid;

}
.globalSansFooter{
    width: 414px;
}


/*------------ENTETE------------*/
.entete{
    justify-content: center;
    width: 100%;
    border: 2px red solid;
    margin-left: -52px;
    margin-top: -1px;

}

header{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: -3px;
}

.logo {
    align-items: center;

}
/*------------ENTETE------------*/
    