.hebergements {
    padding: 20px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: grey;
    align-content: stretch;

}


#hebMars {
    width: 200px;
    height: 90px;
    padding: 10px;
}

.card {
    background-color: white;
    border-radius: 5%;
}
